<a href="https://colab.research.google.com/github/SajiNithin/Mastering_Python/blob/main/Python_learning.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# Mine
def lettercombo():
  y=[]
  two=['a','b','c']
  three=['d','e','f']
  for letter in two:
    x=[(letter + letters)for letters in three]
    y.append(x)

  return y


print(lettercombo())

[['ad', 'ae', 'af'], ['bd', 'be', 'bf'], ['cd', 'ce', 'cf']]

In [ ]:
# Chatgpt's
def lettercombo():
    two = ['a', 'b', 'c']
    three = ['d', 'e', 'f']
    return [(letter1 + letter2) for letter1 in two for letter2 in three]

print(lettercombo())

['ad', 'ae', 'af', 'bd', 'be', 'bf', 'cd', 'ce', 'cf']

In [ ]:
try:
  x='hello'-7
except TypeError as error:
    print(str(error))
  # Learn to use try except in your code

unsupported operand type(s) for -: 'str' and 'int'

In [ ]:
while True:  # input validation loop
    response = input('Enter whole positive number: ')
    if response.isdigit():
        num = int(response)
        break  # leave loop
    print('Please try that again')

Enter whole positive number: hello
Please try that again
Enter whole positive number: '10'
Please try that again
Enter whole positive number: 7

In [ ]:
while True:
    try:
        num = int(input('Enter whole positive number: '))
    except ValueError:
        print('Please try that again')
    else:
        break
        # Give a special attention to that else part

Enter whole positive number: 5

In [ ]:
def func(a):
  return a*a

x=func
x(9)

81

In [ ]:
# A higher-order function that wraps another function with additional behavior
def my_decorator(func):
    def wrapper():
        print("Something is happening before the function is called.")
        func()
        print("Something is happening after the function is called.")
    return wrapper

# Define a function
def say_hello():
    print("Hello!")

# Use the decorator to enhance the function
# say_hello = my_decorator(say_hello)
say_hai= my_decorator(say_hello)

# Call the decorated function
# say_hello()
say_hai()

Something is happening before the function is called.
Hello!
Something is happening after the function is called.

In [ ]:
joke={"jokes": [{"id": 27136, "joke": "An Antartian named Babbette finds herself in dire trouble. Her business has gone bust and she's in serious financial trouble. She's so desperate that she decides to ask God for help. She begins to pray... \"God, please help me. I've lost my business and if I don't get some money, I'm going to lose my house as well. Please let me win the lotto.\"\nLotto night comes and somebody else wins it. Babbette again prays...\"God, please let me win the lotto! I've lost my business, my house and I'm going to lose my car as well.\"\nLotto night comes and Babbette still has no luck.\nOnce again, she prays...\"My God, why have you forsaken me? I've lost my business, my house and my car. My children are starving. I don't often ask you for help and I have always been a good servant to you. PLEASE just let me win the lotto this one time so I can get my life back in order.\"\nSuddenly there is a blinding flash of light as the heavens open a."}], "available": 4329}

In [ ]:
joke['jokes']

[{'id': 27136,
  'joke': 'An Antartian named Babbette finds herself in dire trouble. Her business has gone bust and she\'s in serious financial trouble. She\'s so desperate that she decides to ask God for help. She begins to pray... "God, please help me. I\'ve lost my business and if I don\'t get some money, I\'m going to lose my house as well. Please let me win the lotto."\nLotto night comes and somebody else wins it. Babbette again prays..."God, please let me win the lotto! I\'ve lost my business, my house and I\'m going to lose my car as well."\nLotto night comes and Babbette still has no luck.\nOnce again, she prays..."My God, why have you forsaken me? I\'ve lost my business, my house and my car. My children are starving. I don\'t often ask you for help and I have always been a good servant to you. PLEASE just let me win the lotto this one time so I can get my life back in order."\nSuddenly there is a blinding flash of light as the heavens open a.'}]

In [ ]:
for item in joke['jokes']:
  if (item['joke']):
    print(len(item['joke']))

926

In [ ]:
# Mine
girls=['Rachel','Monica','Phoebe']
boys=['Ross','Chandler','Joey']
couples=[]
for index in range(len(girls)):
  for index_b in range(len(boys)):
    if index==index_b:
      couples.append(girls[index])
      couples.append(boys[index_b])
couples

['Rachel', 'Ross', 'Monica', 'Chandler', 'Phoebe', 'Joey']

In [ ]:
girls=['Rachel','Monica','Phoebe']
boys=['Ross','Chandler','Joey']
girls.append(boys)
print(len(girls))
girls

# adder=(len(girls)+1)//2 (+1)

# for i in range(len(girls)):
#   if i < adder-2:
#     girls[i+1],girls[i+adder]=girls[i+adder]+girls[i+1]
#   else :
#     break
# girls

4

['Rachel', 'Monica', 'Phoebe', ['Ross', 'Chandler', 'Joey']]

In [ ]:
girls=['Rachel','Monica','Phoebe']
boys=['Ross','Chandler','Joey']
couples = [(girl := girls[i], boy := boys[i]) for i in range(len(girls))]
couples

[('Rachel', 'Ross'), ('Monica', 'Chandler'), ('Phoebe', 'Joey')]

In [1]:
girls=['Rachel','Monica','Phoebe']
boys=['Ross','Chandler','Joey']
couples = [( girls[i],boys[i]) for i in range(len(girls))]
couples

[('Rachel', 'Ross'), ('Monica', 'Chandler'), ('Phoebe', 'Joey')]

In [13]:
# Mine
movies = ["The Holy Grail", 1975, "Terry Jones & Terry Gilliam", 91,
 ["Graham Chapman", ["Michael Palin", "John Cleese",
 "Terry Gilliam", "Eric Idle", "Terry Jones"]]]
def list_in_alist (mov):
  for item in mov:
    if type(item)!= list:
      print(item)
    else:
      list_in_alist(item)


list_in_alist(movies)
type(movies)

The Holy Grail
1975
Terry Jones & Terry Gilliam
91
Graham Chapman
Michael Palin
John Cleese
Terry Gilliam
Eric Idle
Terry Jones

list

In [ ]:
# Chatgpt's ; Use isinstance
movies = ["The Holy Grail", 1975, "Terry Jones & Terry Gilliam", 91,
          ["Graham Chapman", ["Michael Palin", "John Cleese",
          "Terry Gilliam", "Eric Idle", "Terry Jones"]]]

def list_in_alist(mov):
    for item in mov:
        if isinstance(item, list):
            list_in_alist(item)
        else:
            print(item)

list_in_alist(movies)

In [8]:
movies = ["The Holy Grail", 1975, "Terry Jones & Terry Gilliam", 91,
 ["Graham Chapman", ["Michael Palin", "John Cleese",
 "Terry Gilliam", "Eric Idle", "Terry Jones"]]]
def list_in_alist (movies):
  for item in movies:
    if type(item)== 'list':
      print(item)
    # else:
    #   list_in_alist(item)
list_in_alist(movies)
type(movies)

list

In [15]:
# Built in Functions
len(dir(__builtins__))

158